@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
   
    
}
.background{
    margin: -16px 0 0 0 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    display: flex;

}
div .imagenfondo{
    padding:0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;    
}
.navbar{
    background-color: rgba(0, 0, 0, 0.6);
    
    width:20%;
    height:100vh;
    /* border-top-left-radius:50px; */
    /* border-bottom-left-radius:50px; */
    position:absolute;
    right: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    

}

.menu a{
    
    margin-top:15px;
    padding:20px;
    display:block;
    text-decoration: none;
    color: #fff;
    font-size: 36px;
    
    

}
.menu a:hover{
    
    background:#3B9883;
    padding:20px;
    border-radius:30px;
}
.contenedor{
    width :80%;
    height:100%;
    display:flex;
    
}
.contenido{
    width:80%;
    height:60%;
    display: flex;
    margin: auto ;
}
.perfil{
    height:100%;
    width:400px;
    
}
.circulo{
    width: 400px;
    height:400px;
    border-radius: 50%;
    
    background: linear-gradient(125deg, rgba(59,152,131,0.5), rgba(172,182,151,0.4));
   
}
.circulo img{
    
    clip-path: circle(200px at center);

   
}
.cuerpo{
    display:grid;
    grid-template-columns: 100%;;
    width:70%;
}
.cuerpo .mano{
    padding-right: 150px;
    padding-top: 30px;
}
.redes{
    display:flex;

}
.redes a{
    margin-left: 30px;
    
    
}
.descripcion p{
    display:flex;
    text-align: left;
    color:#fff;
    margin-left: 30px;
    font-size: 24px;
}

   